{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teams list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Total Exp</th>
                <th>Average Stamina</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.name }}</td>
                <td>{{ team.country }}</td>
                <td>{{ team.totalExp }}</td>
                <td>{{ team.averageExhaust }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('team_show', { 'id': team.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('team_edit', { 'id': team.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_new') }}">
                <button>Create a new team</button>
            </a>
        </li>
        <li>
            <a href="{{ path('team_autocreate') }}">
                <button>Generate a new team automatically</button>
            </a>
        </li>
    </ul>
{% endblock %}
