{% for player in players %}
	<tr>
		<td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
		<td>{{ player.name }}</td>
		<td>{{ player.exp }}</td>
		<td>{{ player.age }}</td>
		<td>{{ player.exhaust }}</td>
		<td>
			{% if player.picture %}
				<img src="{{ asset(player.picture) }}" alt="Picture of {{ player.name }}" width="200">
			{% else %}
				<p>No picture available for this player!</p>
			{% endif %}
		</td>

		<td>{{ player.team }}</td>
		<td>{{ player.role }}</td>
		<td>
			<ul>
				<li>
					<a href="{{ path('player_show', { 'id': player.id }) }}">show</a>
				</li>
				<li>
					<a href="{{ path('player_edit', { 'id': player.id }) }}">edit</a>
				</li>
			</ul>
		</td>
	</tr>
{% endfor %}